@media (max-width: 1080px) {


/* BACKGROUND */

.back {
    display: flex;
    padding-left: 10%;
    padding-top: 5%;
    overflow: hidden;
}

.circle {
    background: linear-gradient(#333192, #8E0B69);
    width: 600px;
    height: 600px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 10px #333192;
    -webkit-box-shadow: 0px 0px 100px #333192;
}


}